@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
  --background-color: radial-gradient(circle at 50% 50%,
      #2f3040,
      #1f2020);
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: #F9F6EF;
  background-image:
    radial-gradient(circle at 50% 50%,
      #2f3040,
      #1f2020);
}


/* Scrolling Banner */

.scroll-container {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: #f1f1f1; /* Light background for visibility */
  padding: 10px 0;
}

.scrolling-text {
  display: inline-block;
  padding-left: 100%; /* Start it off-screen to the right */
  font-size: 2rem;
  color: #4a4a4a;
  animation: scroll-left 10s linear infinite; /* Adjust timing here */
}

@keyframes scroll-left {
  0% {
      transform: translateX(100%); /* Start off-screen right */
  }
  100% {
      transform: translateX(-100%); /* End off-screen left */
  }
}


/* Mouse Trail */
.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: absolute;
  color: red;
}

.star:before {
  position: absolute;
  content: '\2726';
  color: inherit;
  inset: 0;
  text-shadow: 0 0 .8em #fff5;
}


/* Insta Widget */

.insta-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-rectangle {
  position: absolute;
  bottom: -200px;
  width: 280px;
  height: 50px;
  background-color: #222327;
  z-index: 100000;
}