@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@font-face {
  font-family: 'Benn Light Italic';
  src: url('fonts/Benn-Light-Italic.woff2') format('woff2'),
       url('fonts/Benn-Light-Italic.woff') format('woff'),
       url('fonts/Benn-Light-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}


:root {
  --background-color: radial-gradient(circle at 50% 50%,
      #2f3040,
      #1f2020);
  --primary-font: 'Bowlby One', sans-serif;
  --secondary-font: 'Coiny', cursive;
  --tertiary-font: 'Benn Light Italic', sans-serif;
  --radius: 24px;
  --white: #fffffff9;
  --slider-bg: #CECECF;
  --light-grey: #E3E3E7;
  --dark-grey: #141c30;
  --section-padding: 12vmin;
  --primary-color: #92C1FF;
  --secondary-color: #152335;
  --tertiary-font: 'Rock Salt', cursive;
}



/* Body */

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #F9F6EF;
  background-image:
    radial-gradient(circle at 50% 50%,
      #2f3040,
      #1f2020);
  font-family: var(--primary-font);
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}


/* resetting classes */
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  all: unset;
  cursor: pointer;
}


/* Wrapper */

.section {
  padding: var(--section-padding);
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
  gap: 64px;
}

.hero-wrapper {
  height: 100vh;
  display: flex;
  padding: var(--section-padding);
  padding-bottom: 26%;
  padding-top: 20%;
}


.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-content > * {
  width: fit-content;
}

.hero-wrapper > * {
  width: fit-content;
}

/* Hero Section */

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.hero-section > * {
  width: fit-content;
}

.hero-logo {
  width: min(400px,100%);
  height: auto;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);

  gap: 2vw;
  display: flex;
  padding: 3.5vw 6vw;
  background-color: #ffffffea;
  flex-direction: column;
  align-items: center;
}

.hero-logo-whole {
  width: min(400px,100%);
  height: auto;
}

.hero-logo img {
  width: 100%;
}

.logo-text {
  width: 80%;
  height: auto;
  font-size: clamp(22px, 4vw, 26px);
  color: var(--dark-grey);
  font-family: var(--tertiary-font);
}

.hero-image {
  height: 68vmin;
  width: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: scaleX(-1);
  filter: drop-shadow(0px 0px 10px rgba(146, 193, 255, 0.333));
  z-index: 0;
}



/* Text + Rate */

.text-and-rate {
  display: flex;
  flex-direction: column;
  gap: 8vmin;
  z-index: 2;
}

.hero-text-wrapper {
  position: relative;
}

.hero-text {
  font-size: 6vmin;
  line-height: 110%;
  width: 50vmin;
  color: var(--white);
  cursor: default;
}


/* Review Section */

.review-wrapper {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.rated-5 {
  width: 72px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  filter: brightness(105%) saturate(110%);
}

.review-icons {
  width: 130px;
  z-index: 2;
}



/* Foil */
.foil-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.3;
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 100%);
  mask-image: linear-gradient(to bottom, transparent, black 100%);
}
.reverse-foil {
  -webkit-mask-image: linear-gradient(to top, transparent, black 100%);
  mask-image: linear-gradient(to top, transparent, black 100%);
  transform: translateX(-1);
  top: 0;
}



/* Scrolling Banner */

.slider {
  width: 100vw;
  height: var(--height);
  overflow: hidden;
}
.text-slider {
  margin-left: -16%; /* Keeps on the page */
  z-index: 1;
  cursor: default;
  font-size: 16px;
  color: var(--dark-grey);
  background-color: var(--white);
  font-family: var(--secondary-font);
}
.text-slider-bigger {
  font-size: 40px;
  color: var(--white);
  background-color: transparent;
  font-family: var(--secondary-font);
}
.slider .list{
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item{
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
  display: flex;
  align-items: center;
}
.slider .list .item img{
  width: 100%;
}
@keyframes autoRun{
  from{
      left: 100%;
  }to{
      left: calc(var(--width) * -1);
  }
}
.slider:hover .item{
  animation-play-state: paused!important;
}
.no-stop:hover .item{
  animation-play-state: running!important; /* This will cancel out the first one */
}
.slider[reverse="true"] .item{
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay{
  from{
      left: calc(var(--width) * -1);
  }to{
      left: 100%;
  }
}




/* Contact Section */

.contact-wrapper {
  padding: 80px var(--section-padding);
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  gap: 0px;
}

.contact-bg {
  position: absolute;
  background: linear-gradient(to bottom, var(--dark-grey), var(--secondary-color));
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
}
.contact-contents {
  width: 100%;
  gap: 48px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.contact-contents img {
  width: 100%;
}





/* Mouse Trail */

.star {
  transform-style: preserve-3d;
  position: absolute;
  color: red;
  z-index: 0;
}

.star:before {
  position: absolute;
  content: '\2726';
  color: inherit;
  inset: 0;
  text-shadow: 0 0 .8em #fff5;
}





/* Insta Widget */

.insta-wrapper {
  padding: 100px var(--section-padding);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insta-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 100%;
  left: 0;
  top: 0;
}

.widget-wrapper {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay-rectangle-1 {
  position: absolute;
  top: 150px;
  width: 90px;
  height: 35px;
  background-color: #404040;
  z-index: 100000;
}

.overlay-rectangle {
  position: absolute;
  bottom: 2px;
  width: 280px;
  height: 44px;
  background-color: #25262C;
  z-index: 100000 !important;
}

.follow-button {
  background: #2586d5;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 6px;
}

.insta-icon {
  filter: invert(100%);
  height: 24px;
  width: 24px;
}


/* Buttons */

button {
  cursor: pointer !important;
  font-family: var(--primary-font);
  border-radius: var(--radius);
  padding: 16px 24px;
  font-size: clamp(16px, 2.9vmin, 20px);
  width: auto;
  position: relative;
  border: none;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color ease 0.4s, background-color ease 0.4s, box-shadow ease 0.4s;
  z-index: 100 !important;
}
a {
  cursor: pointer !important;
}

.book-btn {
  color: var(--dark-grey);
  background-color: var(--white);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.contact-btn {
  width: 100%;
  border-radius: 0px;
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--white);
  font-family: var(--secondary-font);
}

button svg {
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
}

.move-right {
  transition: transform 0.48s ease;
}
button:hover .move-right,
button:active .move-right {
  transform: translateX(5px);
}


/* Extras */

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  user-select: none !important;
}






/* Sparkling Stars Around Text */

:root {
  --sparkle-dur: 2.6s;
  --min-star-opac: 0.2;
}

.sparklestar {
  opacity: var(--min-star-opac);
  content: '\2726';
  position: absolute;
  position: absolute;
  color: rgb(187, 187, 187);
  animation: sparkle var(--sparkle-dur) infinite ease-in-out;
  font-size: min(4vmin,20px);
}

.sparklestar:before {
  content: '\2726';
  color: inherit;
}

.star-1 {
  color: #F9F3EE;
  top: -10%;
  left: -10%;
  transform: rotate(0deg);
  animation-delay: calc(3*var(--sparkle-dur)/4); /* 3 */
}

.star-2 {
  color: #E1F8DC;
  bottom: -32%;
  left: 10%;
  transform: rotate(45deg);
  animation-delay: calc(var(--sparkle-dur)/2); /* 2 */
}

.star-3 {
  color: #B8AFE6;
  top: -25%;
  left: 60%;
  transform: rotate(-45deg);
  animation-delay: 0s; /* 0 */
}

.star-4 {
  color: #AEE1CD;
  right: -3%;
  bottom: 5%;
  transform: rotate(90deg);
  animation-delay: calc(var(--sparkle-dur)/4); /* 1 */
}

/* Sparkle Animation */
@keyframes sparkle {
  0%, 100% {
    opacity: var(--min-star-opac);
    transform: rotate(0deg) scale(0.9);
    filter: blur(0px); /* Start clear */
  }
  50% {
    opacity: 0.8;
    transform: rotate(180deg) scale(1.2);
    filter: blur(0.8px); /* Add slight blur for a glow effect */
  }
}


.hover-scale {
  transition: transform ease 0.5s;
  cursor: default;
  z-index: 10 !important;
}
.hover-scale:hover,
.hover-scale:active {
  transform: scale(var(--scale,1.05));
}



/* Events Section */
.subtitle {
  font-size: 24px;
  z-index: 1;
}
.subtitle:after {
  content: '';
  display: block;
  width: 70%;
  height: 2px; /* Adjust the height for the thickness of the line */
  background-color: var(--white);
  margin: 8px auto 0; /* Centers the line */
}
.events-bg {
  background: linear-gradient(to bottom, var(--dark-grey), transparent);
}
.event {
  width: 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.event h3 {
  margin: 0;
  z-index: 2;
  margin-bottom: -20px;
  font-size: 4.7vmin;
  color: var(--white);
  font-family: var(--tertiary-font);
  transform: rotate(2deg);
}
.event p {
  width: 110%;
  z-index: 2;
  text-align: center;
}
.event-img {
  width: 85%;
  object-fit: contain;
  flex-shrink: 0;
  max-width: 300px;
}
.event1 {
  transform: rotate(-8deg);
}



/* make text not split */
.no-split {
  white-space: nowrap;
}


/* Footer Styles */
.footer {
  color: var(--white);
  padding: 40px 0;
  text-align: center;
  z-index: 1;
}

.footer-wrapper {
  z-index: 2;
  max-width: 1200px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 240px;
  margin: 24px 0px;
  opacity: 0.85;
}

.footer-nav {
  display: flex;
  gap: 20px;
}

.footer-nav a {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav a:hover,
.footer-socials a:hover {
  color: var(--primary-color); /* Accent color */
}

.footer-socials a {
  transition: color 0.3s ease;
  align-items: center;
  display: flex;
  gap: 4px;
}

.footer-bottom {
  opacity: 0.7;
  font-size: 12px;
  color: var(--white);
}



/* Image Sliders */
.image-slider {
  position: absolute;
  --width: 300px;
  --height: 100px;
  opacity: 0.8;
}
.image-slider .list .item {
  width: 100px;
  border-radius: 50px;
  filter: brightness(145%);
}
.is1 .list .item {
  height: 110px;
  width: 110px;
  animation-delay: 0s !important;
}
.is1 {
  rotate: 20deg;
  height: 110px;
  bottom: 50%;
}
.is2 .list .item {
  height: 90px;
  width: 90px;
  animation-delay: 3s !important;
}
.is2 {
  height: 90px;
  bottom: 75%;
  z-index: 1000;
  opacity: 1;
  rotate: -5deg;
}
.is3 .list .item {
  animation-delay: 5s !important;
}
.is3 {
  bottom: 25%;
  rotate: 10deg
}
.is4 .list .item {
  height: 90px;
  width: 90px;
  animation-delay: 8s !important;
}
.is4 {
  z-index: 1000;
  opacity: 1;
  rotate: -20deg;
  height: 90x;
  bottom: 50%;
}



.slider-new{
  width: 100%;
  height: 25vh;
  position: relative;
  overflow: hidden;
}
.slider-new .list{
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider-new .list img{
  opacity: 0.9;
  filter: brightness(140%);
  height: 100%;
  max-width: 20vw;
  object-fit: cover;
}
.slider-new .buttons{
  opacity: 0.7;
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider-new .buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}






/* Larger Screens (Laptop) */

@media (min-width: 768px) {
  .foil-bg {
    display: none;
  }
  .hero-logo {
    padding: 20px 36px;
  }
  .hero-section {
    width: 75vw;
  }
  .contact-contents {
    flex-direction: row;
    width: 50%;
  }
  .hero-wrapper {
    padding: 6% 24%;
  }
  .event {
    flex-direction: row;
    margin-top: 13%;
  }
  .event h3 {
    margin-top: 16%;
    position: absolute;
    top: 0;
    left: 36%;
  }
}